body {
    overflow: hidden;
}

/* video */

#VideoCanvas {
    /* position: fixed;
    width: 100%;
    height: 100%; */
    z-index: 10;
    position: absolute;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    top: 50%;
    left: 50%;
}

/* canvas */

#DrawCanvas {
    /* position: fixed; */
    background:rgb(100,100,100,0.3);
    z-index: 20;
    position: absolute;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    top: 50%;
    left: 50%;
}

/* svg */

#SVGCanvas {
    /* position: fixed; */
    background:rgb(100,100,100,0.3);
    z-index: 30;
    /* width: 100%;
    height: 100%; */
    position: absolute;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    top: 50%;
    left: 50%;
}

#ImageCanvas {
    /* position: fixed; */
    opacity: 1;
    z-index: 15;
    position: absolute;
    height: 500px;
    width: 500px;
    margin: -250px 0 0 -250px;
    top: 50%;
    left: 50%;
}

/* sidebar */

.sidebar {
  position: absolute;
  width: 500px;
  margin-left: -240px;
  left: 50%;
  top: 0px;
  z-index: 100;

  list-style-type: none;
  /* margin: 0; */
  padding: 0px;
  overflow: hidden;

}

.sidebar li {
  position: relative;
  width: 40px;
  line-height: 40px;
  /* color: #A8AFA9; */
  cursor: pointer;

  float: left;
  margin: 20px 20px 20px 20px;
}

.sidebar .div_button {
  border-radius: 50%;
  background-color: #889288;
  width: 40px;
  height: 40px;
}

.sidebar .image_button {
    width: 40px;
    height: 40px;
    padding: 10px;
    vertical-align: unset;
}

.sidebar .text_button {
    width: 40px;
    height: 40px;
    vertical-align: unset;
    font-size: 20px;
    color: black;
    text-align: center;
}
