.userText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}

.userText span {
  background-color: #157EFB;
  padding: 10px;
  border-radius: 2px;
}

.userImg {
  text-align: right;
}

.botText {
  color: black;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}

.botText span {
  background-color: #E9ECEF;
  padding: 10px;
  border-radius: 2px;
}

.botImg {
  text-align: left;
}
