<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Psychology Experiment</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" />

	<script src="/static/lib/jquery.min.js"></script>
	<script src="/static/lib/bootstrap.min.js"></script>
	<script src="/static/lib/jquery-ui.js"></script>
	<script src="/static/lib/jquery-migrate.min.js"></script>
</head>

<body>
	<div class="container">
		<h1 style="text-align: center; padding: 50px">Welcome to the experiment!</h1>

		<br />

		<p>
			In this experiment, referring to an image, you need to design a clothing by adjusting its landmarks, and draw its sketch contour.
		</p>

		<br />

		<div class="alert alert-warning">
			<b>Notice</b>: please use a laptop or desktop to conduct this experiment.
		</div>

		<br />

		<div class="instructionsnav">
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<center>
						<button type="button" class="btn btn-success btn-lg continue float-center" onClick="start();">
									Start
								</button>
					</center>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
	</div>

	<script>
		function makeid() {
			var text = "";
			var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 5; i++)
				text += possible.charAt(Math.floor(Math.random() * possible.length));

			return text;
		}

		var mode = "live";
		var assignmentId = mode + makeid();
		var hitId = mode + makeid();
		var workerId = mode + makeid();

		function start() {
			window.location.href = '/exp?hitId=' + hitId + '&assignmentId=' + assignmentId + '&workerId=' + workerId + '&mode=' + mode;
		}
	</script>

</body>

</html>
