<ul class="sidebar">
    <li data-step='1' data-intro='Click here for ajusting clothing landmarks.'>
      <div class="div_button" id="landmark">
          <img class="image_button" src="/static/assets/landmark.svg"/>
      </div>
    </li>
    <li data-step='2' data-intro='Click here for drawing clothing sketch.'>
      <div class="div_button" id="draw">
          <img class="image_button" src="/static/assets/draw.svg"/>
      </div>
    </li>
    <li data-step='3' data-intro='Click here for erasing clothing sketch.'>
      <div class="div_button" id="eraser">
          <img class="image_button" src="/static/assets/eraser.svg"/>
      </div>
    </li>
    <li data-step='4' data-intro='Click here for cleaning all and restart.'>
      <div class="div_button" id="clean">
          <img class="image_button" src="/static/assets/clean.svg"/>
      </div>
    </li>
    <li data-step='5' data-intro='Click here for generating clothing designs (based on landmark positions and your sketch).'>
      <div class="div_button" id="run">
          <img class="image_button" src="/static/assets/run.svg"/>
      </div>
    </li>
    <li data-step='6' data-intro='Click here for showing the explanation again.'>
      <div class="div_button" id="help">
          <img class="image_button" src="/static/assets/help.svg"/>
      </div>
    </li>
    <li data-step='8' data-intro='When you finish, click here to leave (please ensure you can see a generated image).'>
      <div class="div_button" id="exit">
          <p class="text_button">exit</p>
      </div>
    </li>
</ul>

<canvas id="DrawCanvas"></canvas>
<!-- <video id="VideoCanvas" autoplay muted="muted"></video> -->
<div id="SVGCanvas"></div>
<img id="ImageCanvas"/>
<div id="ResultCanvas"></div>

<ul id="Explanation" style="font-size: x-large">
    <li style="color: #99d8c9">collor</li>
    <li style="color: #fdae6b">sleeve</li>
    <li style="color: #f03b20">hem</li>
</ul>

<div id="Status" data-step='7' data-intro='Here showing status of the system.'>Status</div>
