<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Demo</title>
    <link rel="Favicon" href="/static/favicon.ico" />

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/introjs.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />

    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/bootstrap.min.js"></script>
    <script src="/static/lib/jquery-ui.js"></script>
    <script src="/static/lib/jquery-migrate.min.js"></script>
    <script src="/static/lib/popper.min.js"></script>
    <script src="/static/lib/plain-draggable.min.js"></script>
    <script src="/static/lib/d3.v3.min.js"></script>
    <script src="/static/lib/intro.min.js"></script>
</head>

<body>
    <ul class="sidebar">
        <li data-step='1' data-intro='Click here for ajusting clothing landmarks.'>
            <div class="div_button" id="landmark">
                <img class="image_button" src="/static/assets/landmark.svg"/>
            </div>
        </li>
        <li data-step='2' data-intro='Click here for drawing clothing sketch.'>
            <div class="div_button" id="draw">
                <img class="image_button" src="/static/assets/draw.svg"/>
            </div>
        </li>
        <li data-step='3' data-intro='Click here for erasing clothing sketch.'>
            <div class="div_button" id="eraser">
                <img class="image_button" src="/static/assets/eraser.svg"/>
            </div>
        </li>
        <li data-step='4' data-intro='Click here for cleaning all and restart.'>
            <div class="div_button" id="clean">
                <img class="image_button" src="/static/assets/clean.svg"/>
            </div>
        </li>
        <li data-step='5' data-intro='Click here for generating clothing designs (based on landmark positions and your sketch).'>
            <div class="div_button" id="run">
                <img class="image_button" src="/static/assets/run.svg"/>
            </div>
        </li>
        <li data-step='6' data-intro='Click here for showing the explanation again.'>
             <div class="div_button" id="help">
                <img class="image_button" src="/static/assets/help.svg"/>
            </div>
        </li>
    </ul>
        
    <canvas id="DrawCanvas"></canvas>
    <video id="VideoCanvas" autoplay muted="muted"></video>
    <div id="SVGCanvas"></div>
    <img id="ImageCanvas"/>
    <div id="ResultCanvas"></div>
    
    <ul id="Explanation" style="font-size: x-large">
        <li style="color: #99d8c9; margin:10px">collor</li>
        <li style="color: #fdae6b; margin:10px">sleeve</li>
        <li style="color: #f03b20; margin:10px">hem</li>
    </ul>

    <div id="Tools">
        <div id="Mode" class="btn-group btn-group-toggle" data-toggle="buttons" style="margin:10px">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="Image" autocomplete="off" checked>Image
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="Camera" autocomplete="off">Camera
            </label>
        </div>
        <div id="Opacity" style="margin:10px">
            <input type="range" min="0" max="100" value="60" class="slider">
            <span>0.6</span>
        </div>
    </div>
    
    <div id="Status" data-step='7' data-intro='Here showing status of the system.'>Status</div>
</body>
<script src="/static/js/config.js"></script>
<script src="/static/js/svg.js"></script>
<script src="/static/js/canvas.js"></script>
<script src="/static/js/camera.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/task.js"></script>
</html>
