<ul class="sidebar">
    <li>
      <div class="div_button" id="landmark">
          <img class="image_button" src="/static/assets/landmark.svg"/>
      </div>
    </li>
    <li>
      <div class="div_button" id="draw">
          <img class="image_button" src="/static/assets/draw.svg"/>
      </div>
    </li>
    <li>
      <div class="div_button" id="eraser">
          <img class="image_button" src="/static/assets/eraser.svg"/>
      </div>
    </li>
    <li>
      <div class="div_button" id="run">
          <img class="image_button" src="/static/assets/run.svg"/>
      </div>
    </li>
    <!-- <li>
      <div class="div_button" id="save">
          <img class="image_button" src="/static/assets/save.svg"/>
      </div>
    </li> -->
    <li>
      <div class="div_button" id="exit">
          <p class="text_button">exit</p>
      </div>
    </li>
</ul>

<canvas id="DrawCanvas"></canvas>
<!-- <video id="VideoCanvas" autoplay muted="muted"></video> -->
<div id="SVGCanvas"></div>
<img id="ImageCanvas"/>
<div id="ResultCanvas"></div>

<ul id="Explanation" style="font-size: x-large">
    <li style="color: #99d8c9">collor</li>
    <li style="color: #fdae6b">sleeve</li>
    <li style="color: #f03b20">hem</li>
</ul>
