<!DOCTYPE html>
<html>

<head>
  <title>Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/node_modules/fullpage.js/dist/jquery.fullpage.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/fullpage.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
  <link rel="stylesheet" type="text/css" href="/static/node_modules/ekko-lightbox/dist/ekko-lightbox.css" />

  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/fullpage.js/dist/jquery.fullpage.min.js"></script>
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/node_modules/ekko-lightbox/dist/ekko-lightbox.min.js"></script>

  <script src="/static/js/ui.js"></script>
  <script src="/static/js/data.js"></script>
  <script src="/static/js/baseline.js"></script>

  <script>
    $(window).resize(function() {
      if ($(this).height() < 650) {
        $("#gotop").hide();
      } else {
        $("#gotop").show();
      }
    });
  </script>

</head>

<body>

  <!-- navigation bar -->
  <ul class="sidebar">
    <li>
      <a href="#page1">
        <p class="p1">器</p>
        <p class="p2">中国青铜器</p>
      </a>
    </li>
    <li>
      <a href="#page2">
        <p class="p1">史</p>
        <p class="p2">青铜器历史</p>
      </a>
    </li>
    <li>
      <a href="#page3">
        <p class="p1">类</p>
        <p class="p2">中国青铜器分类</p>
      </a>
    </li>
    <li>
      <a href="#page4">
        <p class="p1">文</p>
        <p class="p2">铭文</p>
      </a>
    </li>
    <li>
      <a href="#page5">
        <p class="p1">造</p>
        <p class="p2">青铜器铸造</p>
      </a>
    </li>
    <li>
      <a href="#page6">
        <p class="p1">地</p>
        <p class="p2">中国青铜器地理分布</p>
      </a>
    </li>
    <li>
      <a href="#page7">
        <p class="p1">最</p>
        <p class="p2">青铜器之最</p>
      </a>
    </li>
  </ul>

  <div class="gotop" id="gotop">
    <a href="#page0">
      <img src="/static/assets/gotop.png">
    </a>
  </div>

  <!-- full page -->
  <!-- <div id="fullpage">
    <div class="section active" id="section0" data-anchor="page0">
      <div class="jumbotron text-center">
        <h1>
          <big>中国青铜器 </big> 在线展览
        </h1>
      </div>
    </div>
    <div class="section" id="section1" data-anchor="page1">
      <div class="container">
        <h1>
          中国青铜器是中国在夏商周时期文化与科技的代表，具有特殊的社会地位，是森严等级制度的产物。
          中国青铜器最早从公元前五千年出现，到汉代逐渐由铁器所取代，跨越了约三千年的历史长河。
          青铜合金主要以铜-锡-铅为主要原料。
        </h1>
      </div>
    </div>
    <div class="section" id="section2" data-anchor="page2">
      <div class="slide">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h1>早期</h1>
              <p>
                中国的青铜器何时起源，是学术界仍在探索的问题。公元1973年，人们在陕西临潼姜寨仰韶文化遗址中的一处房屋遗迹里发现了一件圆形的残铜片。房屋的年代经碳14测定为公元前4700年左右。考古学家鉴定铜片为铸造而成的黄铜器，即铜锌合金。中国出土的最早的青铜器，是1975年在甘肃东乡林家出土的马家窑文化的青铜小刀，年代约为公元前3000年。在约4000年前的传说的夏朝时期，中国开始进入青铜时代。

                夏朝时期青铜器以二里头文化中的青铜器为代表。二里头文化以河南偃师二里头遗址为代表，时间上接龙山文化。二里头文化中，除了较早时期文化中已有的青铜器工具、兵器、饰物，还出现了青铜制的容器，其中以爵为多。二里头文化中的青铜爵以合范法制作，器胎很薄，具备了鋬和流。

                中国早期青铜器的造型和纹饰承接了新石器时代石器和陶器的特征。青铜制的兵器和工具，其外型样式大多来自石器；青铜制的容器外观造型则多来自陶器。无论是鼎、鬲、爵、斝，都有陶器原型。青铜器的纹饰和铭文也沿用了石器和陶器。龙山文化中出土的陶器多有彩绘纹饰，其中不少见于後来的青铜器中，如云雷纹、蟠龙纹等。良渚文化中的玉器上有各种饕餮纹，也见于青铜器上。

                二里头文化中出现了在青铜器上镶嵌绿松石的技艺，出土文物中有用绿松石镶成十字纹或饕餮纹的器件。
              </p>

            </div>
            <div class="col-sm-4">
              <a href="/static/assets/wiki/1024px-Defang_Ding.jpg" data-toggle="lightbox" data-max-width="400" data-title="周代方鼎" data-footer="
                              中国早期青铜器的造型和纹饰承接了新石器时代石器和陶器的特征。青铜制的兵器和工具，其外型样式大多来自石器；青铜制的容器外观造型则多来自陶器。无论是鼎、鬲、爵、斝，都有陶器原型。青铜器的纹饰和铭文也沿用了石器和陶器。龙山文化中出土的陶器多有彩绘纹饰，其中不少见于後来的青铜器中，如云雷纹、蟠龙纹等。良渚文化中的玉器上有各种饕餮纹，也见于青铜器上。

                              二里头文化中出现了在青铜器上镶嵌绿松石的技艺，出土文物中有用绿松石镶成十字纹或饕餮纹的器件。">
                <img src="/static/assets/wiki/1024px-Defang_Ding.jpg" style="width: 100%; height: auto">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>商朝青铜器</h1>
          <p>
            自商朝开始，青铜器文化走向发展的顶峰。商朝青铜器大致可以分为二里冈期和殷墟期两个阶段，即以商王盘庚迁都于殷为分野。
          </p>
          <p>
            二里冈时期的青铜器主要在河南郑州二里冈和辉县琉璃阁等地发现，时间上接二里头文化，也继承了二里头文化青铜器的特色。与二里头时期相比，二里冈时期的青铜器种类明显增多。烹炊器有鼎、鬲、甗；食器有簋；酒器有觚、爵、斝、角、尊、卣、壶、罍；水器有盤、盉；兵器有戈、矛、𨱆、刀、镞；工具有斧、锛等。二里冈时期的工匠已经能制作大型青铜器。1974年张寨前街出土的方鼎高达100厘米，重82.4公斤。1982年郑州又发现了类似的方鼎。此外，二里冈时期的青铜器已经出现了铭文。最早的铭文青铜器是中国历史博物馆所藏的一件鬲。
          </p>
          <p>
            殷墟时期的青铜器达到了中国青铜器发展史上的第一个高峰。以殷墟为中心，北至内蒙古，东至海岸，西至山西，南至广西都有殷墟时期特征的青铜器出土。无论是数量还是质量，殷墟时期的青铜器都有极大发展，种类、样式更为多样，制作更加精美，花纹更加繁缛华丽。合范法在殷墟时期达到了很高的水平。这一时期的青铜器体制更加庞大。迄今发现的最大单体青铜器：后母戊大方鼎就是在殷墟发现的。殷墟时期不但出现了大量青铜礼器、兵器、工具，还出现了青铜乐器和车马器。
          </p>
          <p>
            商朝盛行以鸟兽为器物形象的青铜尊，如四羊尊、象尊、猪尊和鸮尊等。最早的青铜器铭文出现在商朝前期，但是否为文字还需要考证。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>西周青铜器</h1>
          <p>
            在西周早期仍然延续商代的青铜器，部分西周青铜器还带有铭文。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>春秋战国青铜器</h1>
          <p>
            春秋战国时期青铜冶炼技术仍然在继续发展，但已经不像前朝那样繁琐，而是讲究实用和朴素风格。商朝和西周时期盛行酒器，在春秋战国时期已经大为减少。带钩和铜镜是当时冶炼水平的代表物。在楚国的长沙出土了最多数量的铜镜。而在曾国（今湖北随州）出土的大型曾侯乙编钟以及其他一系列青铜器则是春秋时期高超的冶炼技术的反映。进入秦汉时期，虽然青铜器依然在前期铸造，但是也开始逐渐被早期铁器所取代。铜镜的冶炼工艺沿袭下来，但在材料上也开始出现改变。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>秦汉时期青铜器</h1>
          <p>
          </p>
        </div>
      </div>
    </div>

    <div class="section" id="section3" data-anchor="page3">
      <div class="slide">
        <div class="container">
          <h1>陶范铸造技术</h1>
          <p>
            陶范铸造技术简称陶范法，也被称为泥范法。河南偃师二里头夏代和商代前期铸铜遗址、郑州商城铸铜遗址、河南安阳孝民屯商代后期竹筒一直、山西侯马春秋晚期晋都筑城遗址等均发现大量的泥模、陶范等工具。[1]陶范法铸造青铜器，可能采用一次铸造成型的浑铸技术；对复杂青铜器，使用，分铸铸接、焊接、机械连接等手段。
          </p>
          <p>
            制作陶范的原材料主要是土、砂、植物纤维、草木灰、熟料等物质按照一定比例混合形成，通过加入砂来提高耐火度，加入熟料减小收缩量，加入植物纤维和草木灰提高透气性。
          </p>
          <h4>陶范法的主要流程是：</h4>
          <ol>
            <li>
              雕塑待铸造的泥模
            </li>
            <li>
              烘培泥模变硬，在泥模上分块制作外范
            </li>
            <li>
              在外范上补课纹饰
            </li>
            <li>
              形成空腔
            </li>
            <li>
              制作铭文泥模，嵌入泥芯
            </li>
            <li>
              合范，将外范与泥芯组合到一起
            </li>
            <li>
              阴干陶范后，加热到600摄氏度-900摄氏度
            </li>
            <li>
              浇筑青铜液，冷却后清除外范和泥芯，精整并抛光
            </li>
          </ol>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>失蜡铸造技术</h1>
          <p>
            失蜡铸造技术使用蜡料制模，外糊范料，烘培时蜡料熔失而得到无需分范面的整体陶范，可一次获得具有三维空间构造、立体透雕效果的复杂铸件。
          </p>
        </div>
      </div>
    </div>

    <div class="section" id="section4" data-anchor="page4">
      <div class="container">
        <p>
          以黄河流域的河南、陕西为主地带的青铜器出土较早较多，以前被认为是青铜器造诣最高的地方。近年来不断在湖南、湖北、四川、江西等商文化的边缘或者不属于商文化的地区，也发现了大量精美的青铜器，部分青铜的造诣甚至超过中原地区。长江流域的青铜器是如何发展的，还需要进一步的考古调查和研究才能证实。
        </p>
        <h4>主要出土地：</h4>
        <ol>
          <li>
            河南安阳殷墟，商代后期
          </li>
          <li>
            陕西扶风、岐山周原遗址，西周时期
          </li>
          <li>
            湖南长沙宁乡炭河里遗址，商代后期至西周
          </li>
          <li>
            湖北随州擂鼓墩墓葬群，春秋时期
          </li>
          <li>
            江西新干商代大墓，商代后期
          </li>
          <li>
            四川广汉三星堆，商代后期
          </li>
          <li>
            四川成都青白江船棺墓群，春秋至战国时期
          </li>
        </ol>



      </div>
    </div>

    <div class="section" id="section5" data-anchor="page5">
      <div class="slide">
        <div class="container">
          <h1>青铜器主要有工具、兵器、构件、礼器和装饰品等类别。制作精美的大型青铜器都是礼器。</h1>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>青铜食器</h1>
          <p>
            食器主要分为蒸饪器、盛食器两种。蒸饪器包括鼎、鬲（lì歷）、甗（yǎn眼）等；盛食器包括簋（guǐ軌）、簠（fǔ府）、盨（xǔ许）、敦（duì對）、豆等。其中鼎是最重要的青铜器。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>青铜酒器</h1>
          <p>
            酒器主要分为饮酒器和盛酒器两种。饮酒器包括爵、角、斝（jiǎ甲）、觚（gū姑）、觯（zhì志）和觥（gōng公）等；盛酒器包括尊、卣（yǒu友）、壶、罍（léi雷）、鍾和方彝等。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>青铜水器</h1>
          <p>
            青铜水器主要是在行礼时净手所用，以表示恭敬和虔诚。水器包括盘、盉（hé禾）、匜（yí移）、鉴等。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>青铜乐器</h1>
          <p>
            主要的乐器有铙、鐘、鼓、鎛、錞及鉦等。 根据钟纽的形制差别，不同的钟有“铙”、“铎”、“鎛鐘”、“甬鐘”、“钮鐘”等不同称呼。而编钟是将各种不同的钟按照大小、音阶依次排列而悬挂在钟架上。现存最大的曾侯乙编钟是最好的代表。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>兵器</h1>
          <p>
            青銅兵器有戈、矛、戟、鉞、劍、鈹、箭鏃、盾鍚等。
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>车马器</h1>
          <p>
            当卢、马冠、节约、銮铃、軎辖、毂等。
          </p>
        </div>
      </div>
    </div>

    <div class="section" id="section6" data-anchor="page6">
      <div class="container">
        <p>
          青铜器铭文，习称金文，狭义上指商周时代铸刻在青铜器上的文字，有铸铭和刻铭两种。旧时也称“钟鼎文字”或“彝器款式”。传世和出土的有铭文的青铜器绝大多数分属商周时期，且以周代居多。 战国以前多铸铭，战国时期有较多的刻铭。青铜器铭文不仅内容可能具有重要的历史价值，而且由于铭文的字体、布局等也可能给青铜器的断代提供依据。青铜器铭文中的汉字属于篆书，在汉字经过秦汉隶变之后已不被一般人所认识，因此铭文的释读也是青铜器和古文字研究的一项重要内容。文献中关于出土青铜器铭文的记载始于汉宣帝时，当时常人也不识金文，唯有对古文字精通的京兆尹张敞懂得释读。宋朝以来，随着金石学兴盛，对青铜器铭文的考释也逐步丰富起来，到清代旧金石学的研究达到顶峰。晚清之后，随着引进西方社会科学理论及研究方法，对青铜器铭文的研究也有了很大的转变。
          由于对青铜器分期问题存在不同认识，对文字有着不同的见解，研究者们对青铜器铭文产生年代有着不同的看法。一是商朝早期，即二里岗时期，持此看法的学者有等；二是商代晚期的第二期。商代青铜器铭文一般字数不多，少的仅有一个族徽，多的四五个字，未发现有超过五十字的。相比而言，周代青铜器上的文字就丰富得多，已发现的铭文字数最多的青铜器“毛公鼎”，足有铭文500字。
        </p>
      </div>
    </div>

    <div class="section" id="section7" data-anchor="page7">
      <div class="slide">
        <div class="container">
          <h1>铭文最多的青铜器</h1>
          <p>
            毛公鼎
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>銘文最多的單件甬鐘</h1>
          <p>
            宗周鐘（㝬鐘)
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的青铜器</h1>
          <p>
            秦始皇陵铜车马
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的青铜容器</h1>
          <p>
            后母戊鼎
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的鐵足銅鼎</h1>
          <p>
            中山王鐵足銅鼎
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的编钟</h1>
          <p>
            曾侯乙编钟
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的方尊</h1>
          <p>
            四羊方尊
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的方罍</h1>
          <p>
            皿天全方罍
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最大的簋</h1>
          <p>
            㝬簋
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最早的土地「契約」</h1>
          <p>
            散氏盤
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最早的“冰箱”</h1>
          <p>
            曾侯乙冰鉴
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最高的单件青铜器</h1>
          <p>
            青铜神树
          </p>
        </div>
      </div>
      <div class="slide">
        <div class="container">
          <h1>最高拍卖价格的青铜器</h1>
          <p>
            青銅饕餮紋方尊
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <div id="fullpage"></div>
<script>
  $(document).ready(function() {
    var background_colors = [];
    var anchors = [];

    var size = PAGE_DATA.data.length;
    for(var i=0; i<size; ++i) {
      var section = createSection(i);

      var container;
      switch (PAGE_DATA.data[i].type) {
        case 'jumbotron':
          container = createJumbotron();
          break;
        case 'plain':
          container = createPlain(PAGE_DATA.data[i].data.head, PAGE_DATA.data[i].data.body);
          break;
        case 'slide':
          container = createSlides();
          var slide_size = PAGE_DATA.data[i].data.length;
          var slides = PAGE_DATA.data[i].data;
          for(var k=0; k<slide_size; ++k) {
            var slide = createSlide();
            var sub_container;
            switch(slides[k].type) {
              case 'plain':
                var sub_container = createPlain(slides[k].data.head, slides[k].data.body);
                break;
              case 'plain_with_image':
                var sub_container = createPlainWithImage(slides[k].data.head, slides[k].data.body, slides[k].data.image);
                break;
              case 'plain_with_images':
                var sub_container = createPlainWithImages(slides[k].data.head, slides[k].data.body, slides[k].data.images);
                break;
            }
            slide.appendChild(sub_container);
            container.appendChild(slide);
          }
      }

      section.appendChild(container);
      $("#fullpage").append(section);

      background_colors.push('#899498');
      anchors.push('page'+i);
    }

    $('#fullpage').fullpage({
      sectionsColor: background_colors,
      anchors: anchors
    });
    // $('#fullpage').fullpage({
    //   sectionsColor: ['#899498', '#899498', '#899498', '#899498', '#899498', '#899498', '#899498', '#899498'],
    //   anchors: ['page0', 'page1', 'page2', 'page3', 'page4', 'page5', 'page6', 'page7']
    // });
  });

  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>
</body>

</html>
