<div class="container">

    <h1 style="text-align: center; padding: 50px">Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            You will then need to fill out
            a questionnaire about the using experience of our system.
            After you submit the questionnaire, the system will generate a survey code.
            Put the code in AMT to finish the task. Thanks.
        </p>

    </div>

    <div class="alert alert-warning">
        <b>Notice</b>: we will reject your task if you fail to generate a clothing image using our system. Please look at the explanation carefully when you enter the system. Thanks.
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-sm-2">
              <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                Previous
              </button>
            </div>
            <div class="col-sm-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue float-center">
	                   Start Experiment
	                </button>
	            </center>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

</div>
