<div class="container">

    <h1 style="text-align: center; padding: 50px">Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            When you finish drawing, click <strong>exit</strong>, and then fill out
            a questionnaire. The system will generate a survey code after you submit the questionnaire.
            Put the code in AMT to finish the task. Thanks.
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-sm-2">
              <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                Previous
              </button>
            </div>
            <div class="col-sm-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue float-center">
	                   Start Experiment
	                </button>
	            </center>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>

</div>
