<div class="container">

	<h1 style="text-align: center; padding: 50px">Instructions</h1>

	<hr />

	<div class="instructions well">

		<p>
			When you enter the system, look carefually at the explanation about how to use the system. And when you create a clothing image sucessfully, click the <strong>exit</strong> button to leave.
		</p>

	</div>

	<hr />

	<div class="instructionsnav">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8"></div>
			<div class="col-sm-2">
				<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue float-right">Next</button>
			</div>
		</div>
	</div>

</div>
