<div class="container">

	<h1 style="text-align: center; padding: 50px">Instructions</h1>

	<hr />

	<div class="instructions well">

		<p>
			Please watch the video below to learn how to use it.
		</p>

	</div>

	<hr />

	<iframe width="400" height="400" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

	<div class="instructionsnav">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8"></div>
			<div class="col-sm-2">
				<button type="button" id="next" value="next" class="btn btn-primary btn-lg continue float-right">Next</button>
			</div>
		</div>
	</div>

</div>
